{% extends "base.html" %}
{% block title %}find your nyc dog{% endblock %}

{% block content %}
<div class="container">
  <h1>which dog should you get?</h1>
  <p>based on <a href="https://www.akc.org/dog-breed-selector/">american kennel club</a></p>
</div>
<div class="container">
  <p>how much experience do you have owning a dog?</p>
  <select class="form-select" aria-label="form-select" id="experience">
    <option value="1">none</option>
    <option value="2">some</option>
    <option value="3">a lot</option>
  </select>
  <p>how much baking are you okay with?</p>
  <select class="form-select" aria-label="form-select">
    <option value="1">none</option>
    <option value="2">some</option>
    <option value="3">a lot</option>
  </select>
  <p>how much shedding are you okay with?</p>
  <select class="form-select" aria-label="form-select">
    <option value="1">little</option>
    <option value="2">a lot</option>
  </select>
  <p>how active would you like your dog to be?</p>
  <select class="form-select" aria-label="form-select">
    <option value="1">not very</option>
    <option value="2">average</option>
    <option value="3">quite active</option>
  </select>
  <p>what size dog would you like?</p>
  <select class="form-select" aria-label="form-select">
    <option value="1">small</option>
    <option value="2">medium</option>
    <option value="3">large</option>
  </select>
</div>
<div class="container">
  <div class="row">
    <div class="col">
    <button type="submit" class="btn btn-primary">find your dog!</button>
  </div>
</form>
</div>
{% endblock %}