{% extends "base.html" %}
{% block title %}find your nyc dog{% endblock %}

{% block content %}
<div class="container">
  <h1>which dog should you get?</h1>
  <p>based on <a href="https://www.akc.org/dog-breed-selector/">american kennel club</a></p>
</div>
<div class="container">
<form method="post" action="/dog_results">
    <label for="experience" class="form-label">how much experience with dogs do you have?</label>
    <select class="form-select" aria-label="form-select" name="experience">
      <option value=0>little</option>
      <option value=1>quite a bit</option>
    </select>
    <label for="bark" class="form-label">how much barking are you okay with?</label>
    <select class="form-select" aria-label="form-select" name="bark">
      <option value=0>none</option>
      <option value=1>some</option>
      <option value=2>a lot</option>
    </select>
    <label for="shed" class="form-label">how much shedding are you okay with?</label>
    <select class="form-select" aria-label="form-select" name="shed">
      <option value=0>little</option>
      <option value=1>a lot</option>
    </select>
<!--     <label for="activity" class="form-label">how active would you like your dog to be?</label>
    <select class="form-select" aria-label="form-select" name="activity">
      <option value=0>not very</option>
      <option value=1>average</option>
      <option value=2>quite active</option>
    </select> -->
<!--     <label for="size" class="form-label">what size dog would you like?</label>
    <select class="form-select" aria-label="form-select" name="size">
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
    </select> -->
    <button type="submit" class="btn btn-primary">find your dog!</button>
  </form>
</div>
{% endblock %}