{% extends "base.html" %}
{% block title %}find your nyc pet{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>are you looking for a pet?</h1>
  </div>
  <div class="row">
    <h2>we can help you figure out which breed you should get!</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <a class="btn btn-primary" href="/dog" role="button">dog quiz</a>
    </div>
    <div class="col-6">
      <a class="btn btn-primary" href="/cat" role="button">cat quiz</a>
    </div>
  </div>
</div>
{% endblock %}